<div class="city-search">
  <h1>Discover and book the best restaurant.</h1>
  <br />
  <h5>Please choose the city you would like to dine at below.</h5>

  <div class="input-group mb-3">
    <select class="form-select" id="inputGroupSelect02">
      <option selected>Berlin</option>
      <option value="1">Hamburg</option>
      <option value="2">Frankfurt</option>
      <option value="3">Munich</option>
    </select>
    <label class="input-group-text" for="inputGroupSelect02">Find</label>
  </div>
</div>