<body class="home-hero-section">
  <div>
    <h1>{{appTitle}} 🚀</h1>
    <br />
    <h4>Book a table at most-loved restaurants in your city!!!</h4>
    <br />
    <a href="/auth/signup"><button class="btn btn-primary">SIGN UP</button></a>
    <a href="/auth/login"><button class="btn btn-primary">LOGIN</button></a>
  </div>
</body>