<section class="home-hero-section">
  <div>
    <h1>{{appTitle}} 🚀</h1>
    <h2>Book a table at most-loved restaurants in your city!!!</h2>
    <a href="/auth/signup"><button class="btn btn-primary">SIGN UP</button></a>
    <a href="/auth/login"><button class="btn btn-primary">LOGIN</button></a>
  </div>
</section>