body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/* partials style */

.ratings {
  margin-right: 10px;
}
.ratings i {
  color: #cecece;
  font-size: 32px;
}
.rating-color {
  color: #fbc634 !important;
}

/* ----- dashboard search tab ----- */
.city-search {
  margin-top: 5rem;
  background-color: #34d3fb;
  padding: 50px;
  border-radius: 10px;
}

.input-group {
  max-width: 300px;
  margin-bottom: 20px;
}

.form-select {
  color: #5bc0de;
  background-color: #fff;
  border: 1px solid #5bc0de;
  border-radius: 5px;
}

.input-group-text {
  background-color: #5cb85c;
  color: #fff;
  border: 1px solid #5cb85c;
  border-radius: 5px;
  cursor: pointer;
}

.input-group-text:hover {
  background-color: #f4a61f;
  border: 1px solid #4cae4c;
}
