body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/* partials style */

.ratings {
  margin-right: 10px;
}
.ratings i {
  color: #cecece;
  font-size: 32px;
}
.rating-color {
  color: #fbc634 !important;
}

/* ------ home page ----- */
.login-banner {
  background-color: #5ad5d9b5;
  padding: 10px 20px !important;
  margin-top: 130px;
}

.home-hero-section {
  background: url("https://images.unsplash.com/photo-1505935428862-770b6f24f629?q=80&w=3267&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  width: auto;
}

.home-hero-section h1 {
  margin-top: 100px;
  color: #2c3e50;
}

.home-hero-section h4 {
  margin-bottom: 80px;
  color: #2c3e50;
}

/* ----- dashboard search tab ----- */
.city-search {
  background-color: #34d3fb;
  padding: 50px;
  margin: 20px;
  border-radius: 30px;
}

.city-search .input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 50%;
}

/* ----- form ----- */
.mt-5 {
  margin: 20px;
  padding: 50px;
  border-radius: 20px;
  background-color: #f8e8e2;
  width: auto;
}
