body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/* partials style */

.ratings {
  margin-right: 10px;
}
.ratings i {
  color: #cecece;
  font-size: 32px;
}
.rating-color {
  color: #fbc634 !important;
}
